<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <div
    style="display: flex; flex-direction: column; align-items: center; justify-content: center"
  > -->
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-input
        formControlName="email"
        clearInput
        placeholder="Email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        formControlName="password"
        clearInput
        background="success"
        placeholder="Password"
      ></ion-input>
    </ion-item>

    <ion-button [disabled]="!loginForm.valid" (click)="login()" expand="block">Login</ion-button>
  </form>

  <ion-button
    expand="block"
    color="secondary"
    routerLink="/register"
    routerDirection="forward"
    >Register</ion-button
  >
  <!-- </div> -->
</ion-content>
