ion-tab-bar {
  height: 40px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;

  transition: all 1s;
}

ion-tab-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
}

ion-icon {
  font-size: 18px;
  color: #989898;
  margin: 0;
}

ion-label {
  color: #989898;
}

