<ion-content>
    <div class="search-wrapper">
        <!-- <img class="menu-icon" src="../../assets/icon/menu-options.svg" /> -->
        <ion-searchbar
            #PlaceSrarchBar
            (ionChange)="onChange($event)"
            (ionClear)="onClear($event)"
            (ionFocus)="onFocus($event)"
            debounce="500"
        ></ion-searchbar>
    </div>
    <div
        #filteWrapper
        class="filter-wrapper"
    >
        <div *ngFor="let cat of category">
            <img
                src="{{cat.icon}}"
                (click)="filterPlaces($event,cat)"
            >
        </div>
    </div>
    <div
        #forYou
        class="for-you"
        (click)="filterPlaces('forYou')"
    >
        <img
            width="65%"
            src="assets/icon/for-you.svg"
        >
    </div>
    <div id="map_canvas"></div>
</ion-content>
