<ion-content padding>
    <h5 class="title">For You</h5>
    <div class="fav-card-wrapper">
        <div
            class="fav-card"
            *ngFor="let fav of favourites; let i = index;"
            [style.background-image]=" 'url(assets/placeimages/'+fav?.id+'/main.jpg)'"
        >
            <!-- <img src="{{fav.images}}"> -->
            <div class="fav-details">
                <h6>{{fav.name}}</h6>

                <span class="category-wrapper">
                    <p
                        class="category"
                        *ngFor="let cat of fav?.category"
                    >
                        {{ cat.category }}
                    </p>
                </span>

            </div>
        </div>
    </div>
</ion-content>
